notebooks/__pycache__/
*.jpg
*.png
*.jpeg
*.json
archive*
image_path_v2/
__pycache__/
data/
incontext_examples/
.DS_Store
vlm_data/
*.pt
latest
runs/
*.pth
!scripts/datagen/configs/*.json
models/
api_key.txt
*.zip
*.pdf